.navbar{
    flex: 1;
    /* background-color: rgba(255, 228, 228, 0.698); */
    box-shadow: -1px 4px 15px -1px rgba(136, 136, 136, 0.93);
    border-radius: 30px;
    height: 70vh;
    padding: 20px;
    position: absolute;
    position: sticky;
}

h2{
    margin-bottom: 20px;
    color: rgb(197, 0, 0); 
    font-size: 30px;
}


.nav-container{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.nav-element:hover{
    cursor: pointer;
    background-color: red;
    color: #fff;
    padding: 10px 10px;
    box-shadow: 1px 2px 20px rgb(255, 0, 0);
    transition: ease all 0.5s;

}

.nav-element{
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    font-weight: 600;
}

.link{
    text-decoration: none;
    color: black;
}